body {
  background-size: cover;
  background-image: url(background.jpg);
}

.container{ /*container sito con trasparenza*/
  border-radius: 15px;
  margin: auto;
  background: rgba(0,0,0,0.5);
  width: 850px;
}

.logo{ /*distanza dalla parte superiore e grandezza logo*/
  padding-top: 80px;
  width: 180px;
}

header, nav{ /*centrare header e nav*/
  text-align: center;
}

 header > h1 { /*riferimento ad h1 figlio di header*/
   margin-top: -4px;
   font-family: cursive;
   font-size: 22px;
   color: #00ff00;
   margin-bottom: 4px;
 }

nav{ /*colore e grandezza barra di navigazione*/
    padding: 7px;
    background-color: #00ff00;
    margin-left: 60px;
    margin-right: 60px;
}

main{
    margin-left: 60px;
    margin-top: 10px;
}

.utente{ /*stile, colore e grandezza testo*/
  font-family: cursive;
  color: white;
  font-size: 18px;
}

.arrow:before{  /*freccia prima del testo*/
  content: 	"\21A6";
}

h4{
  color: white;
  font-size: 14px;
  margin-bottom: -2px;
}

/*carica rimanente*/
.caricaGino{
  height: 20px;
  width: 250px;
  background-color: #ff9933;
  border-radius: 5px;
  margin-bottom: 30px;
}

.caricaMike{
  height: 20px;
  width: 450px;
  background-color: #00ff00;
  border-radius: 5px;
  margin-bottom: 30px;
}

.caricaFede{
  height: 20px;
  width: 120px;
  background-color: #ff3333;
  border-radius: 5px;
}
